<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExpertWork" connectionString="Server=ep-jolly-hat-169155.eu-central-1.aws.neon.tech;Port=5432;Database=neondb;User Id=RiverSpider;Password=e4kmW9AOiPMH;" providerName="Npgsql" />
	</connectionStrings>
</configuration>